<% if @shipping.errors.any? %>

    <h2><%= @shipping.errors.count %>errors prohibited this  from being saved:</h2>

    <ul>
    <% @shipping.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    <% end %>
  </ul>

<div class="row">
<h3 class="color">配送先編集</h3>

<%= form_for @shipping do |f| %>

<p>郵便番号（ハイフンなし）</p>
<%= f.text_field :postcode %>

<p>住所</p>
<%= f.text_field :address %>

<p>宛名</p>
<%= f.text_field :name %>

<%= f.submit '編集する' %>
<% end %>
