<h2>ジャンル編集画面</h2>
<%= form_for(@type) do |f| %>
	<div class="field">
		<%= f.label :name, 'ジャンル' %>
		<%= f.text_field :name %>

		<div class="radio-inline">
	      <%= f.radio_button :status, :有効, checked: true %>
	      <%= f.label :status, "有効" %>
	    </div>

	    <div class="radio-inline">
	      <%= f.radio_button :status, :無効, checked: true %>
	      <%= f.label :status, "無効" %>
	    </div>
		<%= f.submit "変更を保存", class: "btn btn-success" %>
	</div>
<% end %>