<h2 class="color">ジャンル追加・一覧画面</h2>
<div class="row">
	<%= form_for @typenew, url: admins_types_path do |f| %>
	<div class="field col-xs-offset-1 col-xs-11">
		<%= f.label :name, "ジャンル" %>
		<%= f.text_field :name %>
		<div class="radio-inline">
	      <%= f.radio_button :status, :有効 %>
	      <%= f.label :status, "有効" %>
	    </div>
	    <div class="radio-inline">
	      <%= f.radio_button :status, :無効 %>
	      <%= f.label :status, "無効" %>
		</div>
	    <%= f.submit "追加", class: "btn btn-success" %>
	</div>
	<% end %>
</div>
<div class="row">
<table class="table">
	<thead>
		<tr>
			<th class="col-xs-offset-1 col-xs-2">ジャンル</th>
			<th class="col-xs-2">状態</th>
			<th class="col-xs-3"></th>
		</tr>
	</thead>
	<tbody>
		<% @types.each do |type| %>
			<tr>
				<td><%= type.name %></td>
				<td><%= type.status %></td>
				<td><%= link_to "編集する", edit_admins_type_path(type), class: 'link-color' %></td>
			</tr>
		<% end %>
	</tbody>
</table>
</div>
