<div class="container relative">
  <nav class="center">
    <img src="/assets/nagano_cake.png" alt="ロゴ" width="auto" height="70">
    <ul class="nav navbar-nav navbar-right nav-pills" style="margin-top: 10px;">
      <% if customer_signed_in? %>
        <li class="nav-link navbar-text">~ようこそ <%= current_customer.first_name %><%= current_customer.last_name %> 様~</li>
        <li class="nav-link"><%= link_to 'マイページ',customers_path(current_customer) %></li>
        <li class="nav-link"><%= link_to '商品一覧',items_path %></li>
        <li class="nav-link"><%= link_to 'カート',customers_cart_items_path(current_customer)  %></li>
        <li class="nav-link"><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete %></li>
      <% else %>
        <li class="nav-link"><%= link_to '商品一覧',items_path %></li>
        <li class="nav-link"><%= link_to '新規登録', new_customer_registration_path %></li>
        <li class="nav-link"><%= link_to 'ログイン', new_customer_session_path %></li>
      <% end %>
    </ul>
  </nav>
</div>