<div class="row">
	<h3>パスワード再設定フォーム</h3>
</div>
	<%= form_for(@customer, url:customer_passwords_edit_path) do |f| %>

 <div class="row">
    <div class="field">
      <div class="col-xs-2 col-xs-offset-1">
        <%= f.label :password, "パスワード" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %>
      </div>
      <div class="col-xs-4">
        <%= f.password_field :password, autocomplete: "new-password", class: "col-xs-7 col-xs-offset-3" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="field">
      <div class="col-xs-2 col-xs-offset-1">
        <%= f.label :password_confirmation, "パスワード" %>
        <em>(確認用)</em>
      </div>
      <div class="col-xs-4">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-xs-7 col-xs-offset-3" %>
      </div>
     </div>
  </div>
   <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <em>(現在のパスワード)<em>
    <%= f.password_field :current_password, autocomplete: "current-password", class: "col-xs-7" %>
  </div>
  <div class="row">
  	<%= f.submit "変更する",class: "btn btn-primary" %>
 	 <% end %>
 </div>