<div class="row index">
  <h2>注文履歴一覧</h2>
  <div class="alt-table-responsive">
    <table class="table table-bordered">
      <tr>
        <th class="col-xs-2">注文日</th>
        <th class="col-xs-3">配送先</th>
        <th class="col-xs-2">注文商品</th>
        <th class="col-xs-1">支払金額</th>
        <th class="col-xs-2">ステータス</th>
        <th class="col-xs-2">注文詳細</th>
      </tr>
      <% @orders.each do order %>
        <tr>
          <td><%= order.created_at strftime("%Y/%m/%d") %></td>
          <td>
            <%= order.postcode %><br>
            <%= order.address %><br>
            <%= order.destination %>
          </td>
          <td>
            <% order.order_items.each do |f| %>
              <%= f.items.name %><br>
            <% end %>
          </td>
          <td><%= "#{(@order.invoice).to_i + (@order.shipping_cost).to_i}円" %></td>
          <td><%= order.status %></td>


          <td><%= link_to "表示する", order_path, class: "btn btn-pramary" %></td>
        </tr>
      <% end %>
    </table>
  </div>

</div>