<div class="row new">
  <h2>注文情報入力</h2>
  
  <%= form_for @ordernew, url: orders_confirm_path do |f| %>
  <section>
    <h4>支払い方法</h4>
    <div class="radio-inline">
      <%= f.radio_button :payment, :銀行振込 %>
      <%= f.label :transfer, "銀行振込" %>
    </div>

    <div class="radio-inline">
      <%= f.radio_button :payment, :クレジットカード %>
      <%= f.label :credit, "クレジットカード" %>
    </div>
  </section>

  <section>
    <h4>お届け先</h4>
    
    <ul>
      <li class="select"> 
        <p class="form-info">ご自身の住所</p>
        <ul>
          <li>customerの郵便番号、住所を表示(customers.postcode, customers.address????)</li>
          <li>customerの名前を表示(customers.name????)</li>
        </ul>
      </li>

      <li  class="select">
        <p class="form-info">登録済住所から選択</p>

        <%= f.select :address, [["a", "b"], ["c", "d"]], {include_blank: "選択して！"}, {class: "form-control"} %>

      </li>
      <li class="select">
        <p class="form-info">新しいお届け先</p>
      </li>
    

      <div class="fiels row">
        <div class="col-xs-2">
          <%= f.label :postcode, "郵便番号(ハイフンなし)" %>
        </div>
        <div class="col-xs-10">
          <%= f.text_field :postcode %>
        </div>
      </div>
      
      <div class="fiels row">
        <div class="col-xs-2">
          <%= f.label :address, "住所" %>
        </div>
        <div class="col-xs-10">
          <%= f.text_field :address, :size => "60" %>
        </div>
      </div>
      
      <div class="fiels row">
        <div class="col-xs-2">
          <%= f.label :destination, "宛名" %>
        </div>
        <div class="col-xs-10">
          <%= f.text_field :destination %>
        </div>
      </div>

      <div class="actions row text-center">
        <br>
        <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
      </div>

    </ul>
  </section>
  <% end %>

</div>