<div class="new">
  <h2>注文履歴詳細</h2>
  <div class="row">


    <div class="col-xs-8">
      <h3>注文情報</h3>
      <div class="alt-table-responsive">
        <table class="table table-bordered">
          <tr>
            <th class="col-xs-4">注文日</th>
            <td class="col-xs-8"><%= @order.created_at.strftime("%Y/%m/%d") %></td>
          </tr>
          <tr>
            <th class="col-xs-4">発送日</th>
            <td height="80px"class="col-xs-8">
              <%= @order.postcode %><br>
              <%= @order.address %><br>
              <%= @order.destination %>
            </td>
          </tr>
          <tr>
            <th class="col-xs-4">支払方法</th>
            <td class="col-xs-8"><%= @order.payment %></td>
          </tr>
          <tr>
            <th class="col-xs-4">ステータス</th>
            <td class="col-xs-8"><%= @order.status %></td>
          </tr>
        </table>
      </div>
    </div>


    <div class="col-xs-4">
      <h3>請求情報</h3>
      <div class="alt-table-responsive">
        <table class="table table-bordered">
          <tr>
            <th class="col-xs-6">商品合計</th>
            <td class="col-xs-6"><%= @order.invoice %></td>
          </tr>
          <tr>
            <th class="col-xs-6">配送料</th>
            <td class="col-xs-6"><%= @order.shipping_cost %></td>
          </tr>
          <tr>
            <th class="col-xs-6">ご請求額</th>
            <td class="col-xs-6"><%= (@order.invoice).to_i + (@order.shipping_cost).to_i %></td>
          </tr>
        </table>
      </div>
    </div>

    
  </div>
  <div class="row">
    <h3>注文情報</h3>
    <table class="table table-bordered">
      <tr>
        <th width="300px">商品</th>
        <th width="100px">単価（税込）</th>
        <th width="60px">個数</th>
        <th width="60px">小計</th>
      </tr>
      <tr>
        <td><%= @order.order_items.items.name %></td>
        <td><%= number_to_currency((@order.order_items.price).to_i :locale => 'jp') %></td>
        <%# priceが複数あり、データを持ってこれてない！→ model等で数を足してから表示！ %>
        <%# orderの情報は持ってきてるけど、itemの情報持ってこれてない? %>
        <td><%= "#{@order.order_items.quontity}個" %></td>
        <td><%= "#{(@order.order_items.price).to_i * (@order.order_item.quontity).to_i}円" %></td>
      </tr>
    </table>
  </div>
</div>
