<h2 class="color">管理者ログイン画面</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field row flex">
    <div class="col-xs-offset-2 col-xs-3 login">
      <%= f.label :email, 'メールアドレス', class: 'lineheight' %>
    </div>
    <div class="col-xs-7">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div>

  <div class="field row flex">
    <div class="col-xs-offset-2 col-xs-3 login">
      <%= f.label :password, 'パスワード', class: 'lineheight' %>
    </div>
    <div class="col-xs-7">
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
  </div>

  <div class="actions row">
    <div class="col-xs-offset-5 col-xs-2">
      <%= f.submit "ログイン", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

