<div class="row">
    <h3>商品 編集画面</h3>

<%= attachment_image_tag @item, :image, format:'jpg',size:'100x100' %>

      <%= form_for @item do |f|%>

        <div>
         <p> 商品名 </p>
         <%= f.text_field :name %>
        </div>

        <br>

        <div>
         <p>商品説明</p>
         <%= f.text_area :explanation %>
        </div>

        <br>

        <%# #商品画像 %>
        <div>
         <%= f.attachment_field  :image  %>
        </div>

        <br>

        <div>
          <p>税抜価格</p>
          <%= f.text_field :excluded %>
        </div>

       <div>
        <%= f.label :status, "販売ステータス" %>
        <%= f.text_field :status %>
       </div>

      <%= f.submit "変更を保存" %>
     <% end %>

