<div class="new">
  <%= form_for @itemnew do |f| %>
    <div>
      <h1>並びはテーブルタグを使用して後で直します！</h1>
      <h3>商品 新規登録画面</h3>
      <div class="col-xs-4">
        <%= f.label :image, "商品画像！"%>
        <%= f.attachment_field :image %>
      </div>
      
      <div class="col-xs-4">
        <%= f.label :name, "商品名" %>
        <%= f.text_field :name %>

        <br>
        
        <%= f.label :explanation, "商品説明" %>
        <%= f.text_area :explanation %>
        
        <br>

        <%= f.label :type_id, "ジャンル" %>
        <%= f.select :type_id,[["asdf", 1], ["as", 2]], { include_blank: true, selected: 1 }, {class: "form-control"} %>
        
        <br>

        <%= f.label :excluded, "税抜価格" %>
        <%= f.text_field :excluded %>

        <br>

        <%= f.label :status, "販売ステータス" %>
        <%= f.text_field :status %>
      </div>
      
      <div class="col-xs-4">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4 col-md-offset-8">
        <%= f.submit %>
      </div>
    </div>
  <% end %>
</div>