  <header>
    <div class="container relative">
      <nav>
        <img src="/assets/nagano_cake.png" alt="ロゴ" width="auto" height="70">
        <% if admin_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-link"><%= link_to '商品一覧',admins_items_path %></li>
            <li class="nav-link"><%= link_to '会員一覧',admins_customers_path %></li>
            <li class="nav-link"><%= link_to '注文履歴一覧',admins_orders_path  %></li>
            <li class="nav-link"><%= link_to 'ジャンル管理', admins_types_path %></li>
            <!-- 編集用で仮に作りました -->
            <li class="nav-link"><%= link_to 'アウト', destroy_admin_session_path, method: :delete %></li>
          </ul>
        <% else %>

        <% end %>
      </nav>
    </div>
  </header>