<div class="row">
	<div class="col-xs-3">
	<%= render 'items/typeserch', types:@types %>
	</div>
	<div class="col-xs-9">
		<div class="item-index">
			<h2>商品一覧<span>(全<%= Item.all.count %>件)</span></h2>
			<table>
				<tr class="flex-container">
					<% @items.each do |item| %>
					<td class="item"><%= attachment_image_tag item, :image, format:'jpg',size:'50x50' %>
						<br>
						<%= link_to item.name,item_path(item) %>
						<br>
						<%= item.excluded %>
					<% end %>
					<%= paginate @items,class:"paginate" %>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>


