
<div class="row">
	<div class="col-xs-3">
	<%= render 'items/typeserch', types:@types %>
	</div>
	<div class="col-xs-9">
		<div class="item-index">
		    <% if params[:types_id] == nil %>
			<h2>商品一覧<span>(全<%= Item.all.count %>件)</span></h2>
			<% else %>
			<h2><%= @type.name %>
			<% end %>
			<table>
				<tr class="flex-container">
					<% @items.each do |item| %>
						<td class="item">
						<%= link_to item_path(item) do %>
							<%= attachment_image_tag item, :image, format:'jpg',size:'150x150', class: "item-link-image" %>  <%# ここ重量！ %>
							<br>
							<%= item.name %>
							<br>
				    		<%= number_to_currency(item.excluded, :locale => 'jp') %>
							<br>
						<% end %>
						</td>
					<% end %>
				</tr>
			</table>
			<div class="pull-right">
				<%= paginate @items %>
			</div>
		</div>
	</div>
</div>


