<div class="row">
	<div class="col-xs-3">
	<%= render 'items/typeserch', types:@types %>
	</div>
	<div class="col-xs-4">
		<div class="item-image">
			<%= attachment_image_tag @item, :image, format:'jpg',size:'300x300' %>
		</div>
	</div>
	<div class="col-xs-5">
		<div class="item-information">
			<h2><%= @item.name %></h2>
			<p><%= @item.explanation %></p>
			<h3><%= number_to_currency((@item.excluded).to_i * 1.1, :locale => 'jp') %>(税込)</h3>
			<%= form_for(@cartitemnew ,url:customers_cart_items_path) do |f| %>
			<%= hidden_field_tag(:item_id, @item.id) %>

			<%= f.number_field :quontity, placeholder:'個数を選択してください',in: 1..30 %>
			<%= f.submit 'カートに入れる' %>
			<% end %>
		</div>
	</div>
</div>