<div class="container">
	<div class="row">
	  <div class="col-xs-3">
		<%= render 'items/typeserch', types:@types %>
	  </div>
	  <div class="col-xs-9">
	  	<div class="outline-box">
	  		<div class="box-in-box">
				<p>ようこそ、NaganoCakeへ！<br>
				このサイトは、ケーキ販売のECサイトになります。<br>
				会員でない方も商品の閲覧はできますが、<br>
				購入には会員登録が必要になります。
				</p>
			</div>
		</div>
		<h2>オススメ商品</h2>

		<table>
			<tr>
				<% @items.each do |item| %>
				<td>
					<%= attachment_image_tag item, :image, format:'jpg',size:'50x50' %>
					<%= link_to item.name %>
					<%= item.excluded %>

				</td>
				<% end %>
			</tr>
		</table>
		<%= link_to "もっと見る>", items_path %>
	   </div>
     </div>
</div>
