<h1>注文一覧画面</h1>

<table class="table">
	<thead>
		<tr>
			<th>購入日時</th>
			<th>購入者</th>
			<th>注文個数</th>
			<th>注文ステータス</th>
		</tr>
	</thead>
	<tbody>
		<% @orders.each do |order| %>
		<tr>
			<td><%= link_to admins_order_path(order) do %>
					<%= order.created_at.strftime("%Y/%m/%d/ %H:%M:%S") %>
				<% end %>
			</td>
			<td><span><%= order.customer.first_name %><%= order.customer.last_name %></span></td>
			<td>
					<% total = 0 %>
				<% order.order_items.each do |order_items| %>
					<% order_items.quontity %>
					<% total = order_items.quontity + total %>
				<% end %>
				<%= total %>
			</td>
			<td><%= order.status %></td>
		</tr>
		<% end %>
	</tbody>
</table>