<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: ; font-size: 15px;">
    <header>
      <div class="container relative">
        <nav>
          <img src="/assets/nagano_cake.png" alt="ロゴ" width="auto" height="70">
          <ul class="nav navbar-nav navbar-right">
            <% if customer_signed_in? %>
              <li class="nav-link"><%= link_to 'マイページ',customers_path(current_customer) %></li>
              <li class="nav-link"><%= link_to '商品一覧',items_path %></li>
              <li class="nav-link"><%= link_to 'カート',customers_cart_items_path  %></li>
              <li class="nav-link"><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete %></li>
            <% else %>
              <li class="nav-link"><%= link_to '商品一覧',items_path %></li>
              <li class="nav-link"><%= link_to '新規登録', new_customer_registration_path %></li>
              <li class="nav-link"><%= link_to 'ログイン', new_customer_session_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
  <footer>
    <p class="copyright">©︎TakadaDaimaru Corporation</p>
  </footer>
</html>
