<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/b5c34d0b23.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="font-size: 15px;">
    <header>

      <% if request.fullpath.include? "admin"%>   <%# urlにadminという文字があった場合下記を実行 %>
        <%= render "layouts/admins/header" %>
      <% else %>
        <%= render "layouts/customers/header" %>
      <% end %>

    </header>

<<<<<<< HEAD
    <div class="container wrapper">
=======
    <div class="search-form">
      <% if request.fullpath.include? "admin" %>
        <%= form_tag(admins_search_path, method: :get) do %>   <%# getでsearch.htmlに飛んでる%>
          <%= text_field_tag 'search[content]' %>
          <%= select_tag 'search[model]', options_for_select({ "お客様情報" => "customer", "商品情報" => "item", "ジャンル情報" => "type" }) %>
          <%= select_tag 'search[how]', options_for_select({ "完全一致" => "match", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partical"  }) %>
          <%= submit_tag '検索' %>
        <% end %>
      <% end %>
    </div>
  
    <div class="container down">
>>>>>>> master
      <%= yield %>
      <% if admin_signed_in? %>
        <div class="text-center search-flex">
          <%= form_tag(admins_search_path, method: :get) do %>   <%# getでsearch.htmlに飛んでる%>
            <div class="select-item">
              <%= text_field_tag 'search[content]' %>
            </div>
            <div class="select-wrap select-circle select-circle-arrow select-item">
              <%= select_tag 'search[model]', options_for_select({ "お客様情報" => "customer", "商品情報" => "item", "ジャンル情報" => "type" }) %>
            </div>
            
            <div class="select-wrap select-circle select-circle-arrow select-item">
              <%= select_tag 'search[how]', options_for_select({ "完全一致" => "match", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partical"  }) %>
            </div>
            <%= submit_tag '検索', class: "btn btn-danger" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </body>
  
  <footer>
    <p class="copyright">©︎TakadaDaimaru Corporation <i class="fas fa-birthday-cake"></i></p>
  </footer>
</html>
