<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: ; font-size: 15px;">
    <header>

      <% if request.fullpath.include? "admin"%>   <%# urlにadminという文字があった場合下記を実行 %>
        <%= render "layouts/admins/header" %>
      <% else %>
        <%= render "layouts/admins/header" %>
      <% end %>

    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
  <footer>
    <p class="copyright">©︎TakadaDaimaru Corporation</p>
  </footer>
</html>
